PORT=3001
PORT_GATEWAY=3000
NATS_SERVERS='nats://localhost:4222'
HOST='http://localhost'


DATABASE_URL='postgresql://<DB_USER>:<DB_PASSWORD>@<HOST>:5432/<DB_NAME>?schema=public'
JWT_SECRET=<STRING_SEGURO>
RESEND_API=<API-RESEND>